Repository MonolithProjects/atlantis-example: changes, and which Atlantis projects are due for each by the changed paths.
All: dev, prod

dev:
  dir: env/dev
  terraform_version: v1.1.4
  apply_requirements: []

prod:
  dir: env/prod
  terraform_version: v1.1.4
  apply_requirements:
  - approved

Update main.tf
  env/dev/main.tf
Due: dev

Update atlantis.yaml
  atlantis.yaml
Due: none

Rename main.yaml to main.tf
  modules/demo_module/main.tf
Due: dev, prod

Rename main.yaml to main.tf
  env/prod/main.tf
Due: prod

Update main.tf
  modules/demo_module/main.tf
Due: dev, prod

Create demo_module2
  modules/demo_module2
Due: none

Delete demo_module2
  modules/demo_module2
Due: none

Create main.tf
  modules/demo_module2/main.tf
Due: dev, prod

Delete LICENSE
  LICENSE
Due: none

Create LICENSE
  LICENSE
Due: none

Update LICENSE
  LICENSE
Due: none

Path conditions:
  dev: any of: env/dev/*.tf, modules/**/*.tf
  prod: any of: env/prod/*.tf, modules/**/*.tf
